@media (min-width: 641px) and (max-width: 1200px) {
	.main-header {
		display: block;
		min-height: 390px;
		padding-top: 55px;
		padding-bottom: 125px;
		background: url("../images/banner-bg-tablet.jpg") center center / cover no-repeat;

		&__row {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			height: 30px;
		}

		&__logo {
			order: 0;
			margin-top: 0;
			width: 160px;
		}

		&__title {
			margin: 105px 0;
		}

		&__title-text {
			font-size: 40px;
		}
	}

	.page {
		padding: 50px 0;
	}

	.trends-wrapper {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		min-height: 245px;
	}

	.title {
		&_big {
			font-size: 18px;
			margin-bottom: 24px;
		}

		&_sidebar {
			font-size: 14px;
			margin-bottom: 24px;
		}
	}

	.trend {
		width: calc(50% - 1.5px);
		margin-bottom: 0;

			&:nth-child(odd) {
				margin-right: 3px;
			}

			&:nth-child(n + 3) {
				margin-top: 3px;
			}

			&__title {
				font-size: 17px;
				line-height: 1.29;
			}
	}

	.page-content {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
	}

	.container {
		padding-left: 40px;
		padding-right: 40px;
	}

	.articles {
		flex-shrink: 0;
		width: 56%;
		margin-right: 5%;
		margin-bottom: 0;
	}

	.article {
		margin-bottom: 40px;
	
		&__preview {
			font-size: 15px;
		}
	}

	.date {
    vertical-align: baseline;
  }

	.article-title {
		font-size: 14px;
		line-height: 1.29;

		&_post {
			margin-top: 0;
		}
	}

	.tag-row {
		&__item {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.sidebar {
		flex-grow: 0;
		padding: 0;
		
		&__block {
			margin-bottom: 60px;

			&:first-child {
				margin-bottom: 60px;
			}
		}
	}

	.tags-list {
		&__item {
			&:hover {
			background-color: rgba(244,243,241,0);
			border: 3px solid #b59f5b;
			}
		}
	}
	.topics-list {
		&__item {
			&:hover {
				color: #b59f5b;
			}
		}
	}

	.products-wrapper {
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.product {
		width: 48%;

		&:nth-child(odd) {
			margin-right: 4%;
		}
	
			&__image {
				width: 87%;
			}
	
			&__description {
				flex-grow: 1;
			}
}

	.footer {
		&__social {
			margin-right: 6%;
		}
	}
}