@media (min-width: 1201px) {
  .main-header {
    padding-top: 35px;
    padding-bottom: 145px;
    background: url("../images/banner-bg.jpg") center center/cover no-repeat;
  }
  .main-header__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-header__logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-top: 0;
    width: 180px;
  }
  .main-header__title {
    margin: 125px 0 0;
  }
  .main-header__title-text {
    font-size: 45px;
    line-height: 1.67;
  }
  .menu {
    display: block;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    position: relative;
    z-index: 3;
  }
  .menu__item {
    margin-right: 2.6em;
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
  }
  .menu__item:last-child {
    margin-right: 0;
  }
  .menu__item:hover {
    text-decoration: underline;
  }
  .menu__link {
    text-decoration: none;
    color: inherit;
  }
  .hamburger {
    display: none;
  }
  .page {
    padding: 65px 0;
  }
  .title_big {
    font-size: 20px;
    line-height: 29px;
  }
  .trends-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 320px;
  }
  .trend {
    padding: 25px;
    margin-right: 3px;
    margin-bottom: 0;
    width: calc(25% - 3px);
  }
  .trend:last-child {
    margin-right: 0;
  }
  .trend__title {
    font-size: 20px;
  }
  .page-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px;
  }
  .articles {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 56%;
    margin-right: 5%;
    margin-bottom: 0;
  }
  .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
  }
  .article:last-child {
    margin-bottom: 0;
  }
  .article::after {
    display: none;
  }
  .article__img {
    width: 380px;
    margin-bottom: 0;
  }
  .article__description {
    margin-left: 30px;
    margin-bottom: 0;
  }
  .article__preview {
    font-size: 15px;
    line-height: 1.47;
  }
  .tag-row__item:hover {
    text-decoration: underline;
  }
  .article-title {
    font-size: 20px;
  }
  .date {
    vertical-align: baseline;
  }
  .sidebar {
    width: 272px;
  }
  .sidebar__block {
    margin-bottom: 60px;
  }
  .title_big {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .title_sidebar {
    font-size: 14px;
    margin-bottom: 24px;
  }
  .article-title_post {
    font-size: 14px;
    margin-top: 4px;
  }
  .button:hover {
    background-color: #323232;
    cursor: pointer;
  }
  .tags-list__item:hover {
    background-color: rgba(244, 243, 241, 0);
    border: 3px solid #b59f5b;
  }
  .topics-list__item:hover {
    color: #b59f5b;
  }
  .products-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product {
    width: 30%;
    margin-right: 5%;
    margin-bottom: 0;
  }
  .product:last-child {
    margin-right: 0;
  }
  .product__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .footer__social {
    margin-right: 5%;
  }
}
/*# sourceMappingURL=style_desktop.css.map */