@media (min-width: 641px) and (max-width: 1200px) {
  .main-header {
    display: block;
    min-height: 390px;
    padding-top: 55px;
    padding-bottom: 125px;
    background: url("../images/banner-bg-tablet.jpg") center center/cover no-repeat;
  }
  .main-header__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
  }
  .main-header__logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-top: 0;
    width: 160px;
  }
  .main-header__title {
    margin: 105px 0;
  }
  .main-header__title-text {
    font-size: 40px;
  }
  .page {
    padding: 50px 0;
  }
  .trends-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 245px;
  }
  .title_big {
    font-size: 18px;
    margin-bottom: 24px;
  }
  .title_sidebar {
    font-size: 14px;
    margin-bottom: 24px;
  }
  .trend {
    width: calc(50% - 1.5px);
    margin-bottom: 0;
  }
  .trend:nth-child(odd) {
    margin-right: 3px;
  }
  .trend:nth-child(n + 3) {
    margin-top: 3px;
  }
  .trend__title {
    font-size: 17px;
    line-height: 1.29;
  }
  .page-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px;
  }
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .articles {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 56%;
    margin-right: 5%;
    margin-bottom: 0;
  }
  .article {
    margin-bottom: 40px;
  }
  .article__preview {
    font-size: 15px;
  }
  .date {
    vertical-align: baseline;
  }
  .article-title {
    font-size: 14px;
    line-height: 1.29;
  }
  .article-title_post {
    margin-top: 0;
  }
  .tag-row__item:hover {
    text-decoration: underline;
  }
  .sidebar {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    padding: 0;
  }
  .sidebar__block {
    margin-bottom: 60px;
  }
  .sidebar__block:first-child {
    margin-bottom: 60px;
  }
  .tags-list__item:hover {
    background-color: rgba(244, 243, 241, 0);
    border: 3px solid #b59f5b;
  }
  .topics-list__item:hover {
    color: #b59f5b;
  }
  .products-wrapper {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product {
    width: 48%;
  }
  .product:nth-child(odd) {
    margin-right: 4%;
  }
  .product__image {
    width: 87%;
  }
  .product__description {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .footer__social {
    margin-right: 6%;
  }
}
/*# sourceMappingURL=style_tablet.css.map */