@media (min-width: 1201px) {

  .main-header {
    padding-top: 35px;
    padding-bottom: 145px;
    background: url("../images/banner-bg.jpg") center center / cover no-repeat;

    &__row {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      order: 0;
      margin-top: 0;
      width: 180px;
    }

    &__title {
      margin: 125px 0 0;
    }

    &__title-text {
      font-size: 45px;
      line-height: 1.67;
    }
  }

  .menu {
    display: block;
    order: 1;

    &__list {
      display: flex;
      justify-content: end;
      position: relative;
      z-index: 3;
    }

    &__item {
      margin-right: 2.6em;
      font-size: 13px;
      color: #ffffff;
      font-weight: 400;
      text-transform: uppercase;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &__link {
      text-decoration: none;
      color: inherit;
    }
  }

  .hamburger {
    display: none;
  }

  .page {
    padding: 65px 0;
  }

  .title_big {
    font-size: 20px;
    line-height: 29px;
  }

  .trends-wrapper {
    flex-direction: row;
    justify-content: space-between;
    min-height: 320px;
  }

  .trend {
    padding: 25px;
    margin-right: 3px;
    margin-bottom: 0;
    width: calc(25% - 3px);
    
    &:last-child {
      margin-right: 0;
    }
    
    &__title {
      font-size: 20px;
    }
  }

  .page-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .articles {
    flex-grow: 1;
    width: 56%;
    margin-right: 5%;
    margin-bottom: 0;
  }

  .article {
    display: flex;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      display: none;
    }

    &__img {
      width: 380px;
      margin-bottom: 0;
    }

    &__description {
      margin-left: 30px;
      margin-bottom: 0;
    }

    &__preview {
      font-size: 15px;
      line-height: 1.47;
    }
  }

  .tag-row {
    &__item {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .article-title {
    font-size: 20px;
  }

  .date {
    vertical-align: baseline;
  }

  .sidebar {
    width: 272px;

      &__block {
        margin-bottom: 60px;
      }
  }

  .title {
    &_big {
      font-size: 20px;
      margin-bottom: 30px;
    }

    &_sidebar {
      font-size: 14px;
      margin-bottom: 24px;
    }
  }

  .article-title_post {
    font-size: 14px;
    margin-top: 4px;
  }

  .button {
    &:hover {
      background-color: #323232;
      cursor: pointer;
    }
  }

  .tags-list {
    &__item {
      &:hover {
        background-color: rgba(244,243,241,0);
        border: 3px solid #b59f5b;
      }
    }
  }

  .topics-list {
    &__item {
      &:hover {
        color: #b59f5b;
      }
    }
  }
}
