* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, serif;
  min-width: 320px;
}

.container {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header {
  position: relative;
  padding-top: 30px;
  padding-bottom: 220px;
  background: url("../images/banner-mobile.jpg") center center/cover no-repeat;
}

.main-header::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
}

.main-header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.main-header__logo {
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: block;
  margin-top: 185px;
  width: 73%;
  z-index: 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-header__title {
  position: relative;
  width: 73%;
  margin: 45px 0 0;
  z-index: 3;
}

.main-header__title-text {
  width: 100%;
  font-size: 26px;
  line-height: 1.38;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

.hamburger {
  position: relative;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: 26px;
  height: 26px;
}

.hamburger__link {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}

.hamburger__link::before {
  content: "";
  position: absolute;
  top: -10px;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}

.hamburger__link::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}

.hamburger__text {
  position: relative;
}

.visualy-hidden {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.menu {
  display: none;
}

.page {
  padding: 45px 0;
}

.trends {
  margin-bottom: 45px;
}

.trends-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.title:after {
  content: "";
  display: block;
  margin: 12px auto;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
}

.title_big {
  font-size: 16px;
  margin-bottom: 24px;
}

.title_sidebar {
  font-size: 16px;
  margin-bottom: 24px;
}

.trend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  margin-bottom: 3px;
  width: 100%;
  min-height: 235px;
  padding: 15px;
  background: #eff5f1 center center / cover no-repeat;
}

.trend:last-child {
  margin-bottom: 0;
}

.trend::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000000;
  opacity: 0.6;
  z-index: 2;
}

.trend__description {
  position: relative;
  display: block;
  width: 100%;
  padding: 30px 22px;
  border: 3px solid #b59f5b;
  z-index: 3;
}

.trend__title {
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.tag-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tag-row__item {
  margin: 0 16px 16px 0;
  font-size: 14px;
  font-weight: 700;
  color: #b59f5b;
  text-transform: uppercase;
}

.tag-row__item:last-child {
  margin-right: 0;
}

.tag-row__link {
  text-decoration: none;
  color: inherit;
}

.trend-flowers {
  background-image: url("../images/trend1.jpg");
}

.trend-cheese {
  background-image: url("../images/trend2.jpg");
}

.trend-mountains {
  background-image: url("../images/trend3.jpg");
}

.trend-lime {
  background-image: url("../images/trend4.jpg");
}

.articles {
  margin-bottom: 45px;
}

.article {
  margin-bottom: 35px;
}

.article:last-child {
  margin-bottom: 0;
}

.article::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #eeeeee;
}

.article__img {
  width: 100%;
  margin-bottom: 14px;
}

.article__description {
  margin-bottom: 24px;
}

.article__meta {
  margin-bottom: 24px;
}

.article__author {
  color: #000000;
  font-weight: 700;
  margin-left: 14px;
  font-size: 12px;
}

.article__preview {
  font-size: 14px;
  line-height: 1.42;
  color: #0f0d0e;
  font-weight: 400;
}

.article__preview p {
  margin-bottom: 16px;
}

.article__preview p:last-child {
  margin-bottom: 0;
}

.date {
  display: inline-block;
  color: #888888;
  font-size: 12px;
  vertical-align: top;
}

.article-title {
  margin-bottom: 22px;
  line-height: 1.29;
  font-size: 16px;
  line-height: 1.2;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
}

.article-title_post {
  margin-top: 12px;
  margin-bottom: 0;
}

.sidebar {
  padding: 0 15px;
}

.sidebar__block {
  margin-bottom: 45px;
}

.sidebar__block:first-child {
  margin-bottom: 54px;
}

.sidebar__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.sidebar__form_submit {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar__form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
}

.sidebar__form-row:first-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 20px;
}

.sidebar__field {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: #f4f7f6;
  height: 100%;
  margin: 0;
  padding: 15px 20px;
}

.sidebar__field:focus {
  outline: 1px solid #b59f5b;
}

.sidebar__field_search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sidebar__field_email {
  width: 100%;
  height: 48px;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post_sidebar {
  margin-bottom: 22px;
}

.post_sidebar:last-child {
  margin-bottom: 0;
}

.post__image {
  display: block;
  min-width: 25%;
  margin-right: 6%;
}

.date {
  font-size: 12px;
  color: #888888;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #b59f5b;
  border: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.button:hover {
  background-color: #323232;
  cursor: pointer;
}

.button_search {
  width: 48px;
  background-image: url("../svg/search.svg");
  background-size: 20px;
  background-position: center center;
  background-repeat: no-repeat;
}

.button_submit {
  width: 100%;
  font-size: 14px;
  font-family: "Open Sans";
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.tags-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.tags-list__item {
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 7px 6px 0 0;
  padding: 7px 9px;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #eeeeee;
  font-size: 12px;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
}

.tags-list__item:last-child {
  margin: 8px 0 0 0;
}

.tags-list__link {
  text-decoration: none;
  color: inherit;
}

.topics-list__item {
  display: block;
  margin-bottom: 12px;
  font-size: 14px;
  color: #000000;
  font-weight: 700;
}

.topics-list__item:last-child {
  margin-bottom: 0;
}

.topics-list__item::after {
  content: "";
  display: block;
  margin-top: 16px;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
}

.topics-list__item:hover {
  color: #b59f5b;
}

.topics-list__link {
  text-decoration: none;
  color: inherit;
}

.topics-counter {
  vertical-align: super;
  font-size: 12px;
  color: #b59f5b;
  font-weight: 700;
}

.products {
  min-width: 320px;
}

.products-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product {
  width: 100%;
  margin-bottom: 25px;
}

.product:last-child {
  margin-bottom: 0;
}

.product__image {
  display: block;
  position: relative;
  min-width: 87%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.product__description {
  position: relative;
  margin-top: -30px;
  padding: 55px 22px 25px;
  min-width: 100%;
  border: 3px solid #b59f5b;
  color: #0f0d0e;
}

.product__title {
  font-size: 17px;
  line-height: 1.29;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.product__text {
  margin-bottom: 12px;
  font-size: 15px;
  line-height: 1.47;
}

.product__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

.product__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.higlighted-link {
  text-decoration: none;
}

.higlighted-text {
  color: #b59f5b;
}

.price {
  display: block;
  font-weight: 700;
}

.price--old {
  font-size: 14px;
  text-decoration: line-through;
}

.price--new {
  font-size: 20px;
}

.price--hidden {
  display: none;
}

.shop-link {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 15px 30px;
  text-decoration: none;
  background-color: #b59f5b;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.shop-link:hover {
  background-color: #000000;
}

.footer {
  margin: 0;
  padding-bottom: 45px;
}

.footer__socials {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 17%;
  background-color: #f4f7f6;
}

.footer__social {
  width: 20px;
  height: 20px;
  margin-right: 10%;
}

.footer__social:last-child {
  margin-right: 0;
}

.footer__social--twitter {
  background: url("../svg/004-twitter.svg") center center/cover no-repeat;
}

.footer__social--pinterest {
  background: url("../svg/001-pinterest.svg") center center/cover no-repeat;
}

.footer__social--facebook {
  background: url("../svg/002-facebook-logo.svg") center center/cover no-repeat;
}

.footer__social--instagram {
  background: url("../svg/005-instagram.svg") center center/cover no-repeat;
}

.footer__social--tumblr {
  background: url("../svg/003-tumblr.svg") center center/cover no-repeat;
}

.footer__copyright {
  margin-top: 50px;
  font-size: 12px;
  color: #999999;
  font-weight: 700;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */