* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, serif;
  min-width: 320px;
}

.container {
  margin: 0;
  padding: 0 15px;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  position: relative;
  padding-top: 30px;
  padding-bottom: 220px;
  background: url("../images/banner-mobile.jpg") center center / cover no-repeat;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
  }

  &__row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__logo {
    position: relative;
    order: 1;
    display: block;
    margin-top: 185px;
    width: 73%;
    z-index: 3;
    align-self: center;
  }

  &__title {
    position: relative;
    width: 73%;
    margin: 45px 0 0;
    z-index: 3;
  }

  &__title-text {
    width: 100%;
    font-size: 26px;
    line-height: 1.38;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
  }
}

.hamburger {
  position: relative;
  align-self: end;
  order: 0;
  width: 26px;
  height: 26px;

  &__link {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 3px;
    background-color: #ffffff;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      width: 100%;
      height: 3px;
      background-color: #ffffff;
    }

    &::after {
      content: "";
      position: absolute;
      top: 10px;
      width: 100%;
      height: 3px;
      background-color: #ffffff;
    }
  }

  &__text {
    position: relative;
  }
}

.visualy-hidden {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.menu {
  display: none;
}

.page {
  padding: 45px 0;
}

.trends {
  margin-bottom: 45px;
}

.trends-wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  &:after {
    content: "";
    display: block;
    margin: 12px auto;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
  }

  &_big {
    font-size: 16px;
    margin-bottom: 24px;
  }


}

.trend {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-bottom: 3px;
  width: 100%;
  min-height: 235px;
  padding: 15px;
  background: #eff5f1 center center / cover no-repeat;

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000000;
    opacity: 0.6;
    z-index: 2;
  }

  &__description {
    position: relative;
    display: block;
    width: 100%;
    padding: 30px 22px;
    border: 3px solid #b59f5b;
    z-index: 3;
  }

  &__title {
    font-size: 16px;
    line-height: 1.2;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.tag-row {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin: 0 16px 16px 0;
    font-size: 14px;
    font-weight: 700;
    color: #b59f5b;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}

.trend-flowers {
  background-image: url('../images/trend1.jpg');
}

.trend-cheese {
  background-image: url('../images/trend2.jpg');
}

.trend-mountains {
  background-image: url('../images/trend3.jpg');
}

.trend-lime {
  background-image: url('../images/trend4.jpg');
}

.articles {
  margin-bottom: 45px;
}
.article {
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #eeeeee;
  }

  &__img {
    width: 100%;
    margin-bottom: 14px;
  }
  
  &__description {
    margin-bottom: 24px;
  }

  &__meta {
    margin-bottom: 24px;
  }

  &__author {
    color: #000000;
    font-weight: 700;
    margin-left: 14px;
    font-size: 12px;
  }

  &__preview {
    font-size: 14px;
    line-height: 1.42;
    color: #0f0d0e;
    font-weight: 400;
    p {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.date {
  display: inline-block;
  color: #888888;
  font-size: 12px;
}

.article-title {
  margin-bottom: 22px;
  line-height: 1.29;
  font-size: 16px;
  line-height: 1.2;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;

  &_post {
    margin-top: 12px;
    margin-bottom: 0;
  }
}

.sidebar {
  padding: 0 15px;
  &__block {
  }
}

.post {
  display: flex;
  
  &_sidebar {
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    display: block;
    min-width: 25%;
    margin-right: 6%;
  }
}

.date {
  font-size: 12px;
  color: #888888;
}



