* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Open Sans", Arial, serif;
  min-width: 320px;
}

.container {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  position: relative;
  padding-top: 30px;
  padding-bottom: 220px;
  background: url("../images/banner-mobile.jpg") center center / cover no-repeat;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
  }

  &__row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__logo {
    position: relative;
    order: 1;
    display: block;
    margin-top: 185px;
    width: 73%;
    z-index: 3;
    align-self: center;
  }

  &__title {
    position: relative;
    width: 73%;
    margin: 45px 0 0;
    z-index: 3;
  }

  &__title-text {
    width: 100%;
    font-size: 26px;
    line-height: 1.38;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
  }
}

.hamburger {
  position: relative;
  align-self: end;
  order: 0;
  width: 26px;
  height: 26px;

  &__link {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 3px;
    background-color: #ffffff;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      width: 100%;
      height: 3px;
      background-color: #ffffff;
    }

    &::after {
      content: "";
      position: absolute;
      top: 10px;
      width: 100%;
      height: 3px;
      background-color: #ffffff;
    }
  }

  &__text {
    position: relative;
  }
}

.visualy-hidden {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.menu {
  display: none;
}

.page {
  padding: 45px 0;
}

.trends {
  margin-bottom: 45px;
}

.trends-wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  &:after {
    content: "";
    display: block;
    margin: 12px auto;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
  }

  &_big {
    font-size: 16px;
    margin-bottom: 24px;
  }

  &_sidebar {
    font-size: 16px;
    margin-bottom: 24px;
  }
}

.trend {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-bottom: 3px;
  width: 100%;
  min-height: 235px;
  padding: 15px;
  background: #eff5f1 center center / cover no-repeat;

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000000;
    opacity: 0.6;
    z-index: 2;
  }

  &__description {
    position: relative;
    display: block;
    width: 100%;
    padding: 30px 22px;
    border: 3px solid #b59f5b;
    z-index: 3;
  }

  &__title {
    font-size: 16px;
    line-height: 1.2;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.tag-row {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin: 0 16px 16px 0;
    font-size: 14px;
    font-weight: 700;
    color: #b59f5b;
    text-transform: uppercase;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}

.trend-flowers {
  background-image: url('../images/trend1.jpg');
}

.trend-cheese {
  background-image: url('../images/trend2.jpg');
}

.trend-mountains {
  background-image: url('../images/trend3.jpg');
}

.trend-lime {
  background-image: url('../images/trend4.jpg');
}

.articles {
  margin-bottom: 45px;
}
.article {
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #eeeeee;
  }

  &__img {
    width: 100%;
    margin-bottom: 14px;
  }
  
  &__description {
    margin-bottom: 24px;
  }

  &__meta {
    margin-bottom: 24px;
  }

  &__author {
    color: #000000;
    font-weight: 700;
    margin-left: 14px;
    font-size: 12px;
  }

  &__preview {
    font-size: 14px;
    line-height: 1.42;
    color: #0f0d0e;
    font-weight: 400;
    p {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.date {
  display: inline-block;
  color: #888888;
  font-size: 12px;
  vertical-align: top;
}

.article-title {
  margin-bottom: 22px;
  line-height: 1.29;
  font-size: 16px;
  line-height: 1.2;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;

  &_post {
    margin-top: 12px;
    margin-bottom: 0;
  }
}

.sidebar {
  padding: 0 15px;

  &__block {
    margin-bottom: 45px;

    &:first-child {
      margin-bottom: 54px;
    }
  }

  &__form {
    display: flex;
    width: 100%;
  }

  &__form_submit {
    flex-direction: column;
  }

  &__form-row {
    display: flex;
    height: 48px;

    &:first-child {
      flex-grow: 1;
      margin-bottom: 20px;
    }
  }

  &__field {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background-color: #f4f7f6;
    height: 100%;
    margin: 0;
    padding: 15px 20px;

    &:focus {
      outline: 1px solid #b59f5b;
    }
  }

  &__field_search {
    flex-grow: 1;
  }

  &__field_email {
    width: 100%;
    height: 48px;
  }
}

.post {
  display: flex;
  
  &_sidebar {
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    display: block;
    min-width: 25%;
    margin-right: 6%;
  }
}

.date {
  font-size: 12px;
  color: #888888;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #b59f5b;
  border: none;
  margin: 0;
  padding: 0;
  height: 100%;

  &:hover {
    background-color: #323232;
    cursor: pointer;
  }
}

.button_search {
  width: 48px;
  background-image: url("../svg/search.svg");
  background-size: 20px;
  background-position: center center;
  background-repeat: no-repeat;
}

.button_submit {
  width: 100%;
  font-size: 14px;
  font-family: "Open Sans";
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}
.tags-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;

  &__item {
    display: block;
    box-sizing: content-box;
    margin: 7px 6px 0 0;
    padding: 7px 9px;
    background-color: rgba(244,243,241,0);
    border: 3px solid #eeeeee;
    font-size: 12px;
    color: #0f0d0e;
    font-weight: 700;
    text-transform: uppercase;

    &:last-child {
      margin: 8px 0 0 0;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}
.topics-list {

  &__item {
    display: block;
    margin-bottom: 12px;
    font-size: 14px;
    color: #000000;
    font-weight: 700;

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      content: "";
      display: block;
      margin-top: 16px;
      width: 100%;
      height: 2px;
      background-color: #eeeeee;
    }

    &:hover {
      color: #b59f5b;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}

.topics-counter {
  vertical-align: super;
  font-size: 12px;
  color: #b59f5b;
  font-weight: 700;
}

.products-wrapper {
  display: flex;
  flex-direction: column;
}

.product {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  text-align: center;

    &:last-child {
      margin-bottom: 0;
    }

    &__image {
      position: relative;
      width: 87%;
      text-align: center;
    }

		&__description {
      position: relative;
      margin-top: -30px;
      padding: 55px 22px 25px;
      min-width: 100%;
      border: 3px solid #b59f5b;
      color: #0f0d0e;
      text-align: left;
		}

		&__title {
      font-size: 17px;
      line-height: 1.29;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 6px;
		}

		&__text {
      margin-bottom: 12px;
      font-size: 15px;
      line-height: 1.47;
    }
    

		&__offer {
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
		}

		&__prices {
      display: flex;
      flex-direction: column;
      justify-content: center;
		}
}

.higlighted-link {
  text-decoration: none;
}

.higlighted-text {
  color: #b59f5b;
}

.price {
  display: block;
  font-weight: 700;

		&--old {
      font-size: 14px;
      text-decoration: line-through;
		}

		&--new {
      font-size: 20px;
    }
    
    &--hidden {
      display: none;
    }
}

.shop-link {
  box-sizing: content-box;
  padding: 15px 30px;
  text-decoration: none;
  background-color: #b59f5b;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  &:hover {
    background-color: #000000;
  }
}

.footer {
  margin: 0;
  padding-bottom: 45px;

  &__socials {
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    padding: 30px 17%;
    background-color: #f4f7f6; 
  }

  &__social {
    width: 20px;
    height: 20px;
    margin-right: 10%;

    &:last-child {
      margin-right: 0;
    }

    &--twitter {
      background: url("../svg/004-twitter.svg") center center / cover no-repeat;
    }

    &--pinterest {
      background: url("../svg/001-pinterest.svg") center center / cover no-repeat;
    }

    &--facebook {
      background: url("../svg/002-facebook-logo.svg") center center / cover no-repeat;
    }

    &--instagram {
      background: url("../svg/005-instagram.svg") center center / cover no-repeat;
    }

    &--tumblr {
      background: url("../svg/003-tumblr.svg") center center / cover no-repeat;
    }
  }

  &__copyright {
    margin-top: 50px;
    font-size: 12px;
    color: #999999;
    font-weight: 700;
    text-align: center;
  }
}

  .popup {
    padding: 0;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #000000;
      opacity: 0.6;
      z-index: 10;
    }
  }

  .popup-form {
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 50%;
    width: calc(100% - 30px);
    padding: 30px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;

    &__close {
      display: block;
      margin-top: -65px;
      margin-right: -15px;
      width: 27px;
      height: 27px;
    }

    &__row {
      display: block;
      margin-bottom: 35px;
    }

      &__hint {
        display: block;
        font-size: 13px;
        color: #000000;
        font-weight: 400;
      }
  }

  .title-popup {
    margin: 0;
    padding: 0;
  }

  .input-radio {
  
      &__hint {

      }
  }

  .button {
   
      &--popup {
        display: block;
      }
  }
  