@media (min-width: 641px) and (max-width: 1200px) {
	.main-header {
		display: block;
		min-height: 390px;
		padding-top: 55px;
		padding-bottom: 125px;
		background: url("../images/banner-bg-tablet.jpg") center center / cover no-repeat;

		&__row {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			height: 30px;
		}

		&__logo {
			order: 0;
			margin-top: 0;
			width: 160px;
		}

		&__title {
			margin: 105px 0;
		}

		&__title-text {
			font-size: 40px;
		}
	}

	.page {
		padding: 50px 0;
	}
	
	.trends-wrapper {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.title_big {
		font-size: 18px;
		margin-bottom: 18px;
	}

	.trend {
		width: calc(50% - 3px);
		margin-bottom: 0;

			&:nth-child(odd) {
				margin-right: 3px;
			}

			&:nth-child(n + 3) {
				margin-top: 3px;
			}

			&__title {
				font-size: 17px;
				line-height: 1.29;
			}
	}
}
