@media (min-width: 641px) and (max-width: 1200px) {
	.main-header {
		display: block;
		min-height: 390px;
		padding-top: 55px;
		padding-bottom: 125px;
		background: url("../images/banner-bg-tablet.jpg") center center / cover no-repeat;

		&__row {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			height: 30px;
		}

		&__logo {
			order: 0;
			margin-top: 0;
			width: 160px;
		}

		&__title {
			margin: 105px 0;
		}

		&__title-text {
			font-size: 40px;
		}
	}
}
